.App {
  text-align: center;
}

.header{
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 14px;
}

.container {
  margin: 40px 48px;
  border-radius: 16px;
  background-color: #ffffff;
  padding-bottom: 16px;
}